header.header
  .container.header__container 
    h1.header__title Base project
    nav.nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href='#') Home
        li.nav__item
          a.nav__link(href='https://t.me/sudorgindaniil')
            svg.icon.icon--telegram.nav__icon
              use(href='./assets/images/svgsprite/sprite.symbol.svg#telegram')

