doctype html
html(lang="en")
    head
        title Base project
        link(rel="stylesheet" href="./css/main.css")
        link(rel="icon" type="image/x-icon" href="./assets/images/favicons/favicon.svg")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-touch-icon.png")
    body
        block header
        block content
        block footer
